
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/com/emtalent/controller/HomeController.class
target/classes/com/emtalent/model/User.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/springwebmvc.war
target/springwebmvc/WEB-INF/classes/com/emtalent/controller/HomeController.class
target/springwebmvc/WEB-INF/classes/com/emtalent/model/User.class
target/springwebmvc/WEB-INF/lib/commons-logging-1.2.jar
target/springwebmvc/WEB-INF/lib/jstl-1.2.jar
target/springwebmvc/WEB-INF/lib/spring-aop-4.3.9.RELEASE.jar
target/springwebmvc/WEB-INF/lib/spring-beans-4.3.9.RELEASE.jar
target/springwebmvc/WEB-INF/lib/spring-context-4.3.9.RELEASE.jar
target/springwebmvc/WEB-INF/lib/spring-core-4.3.9.RELEASE.jar
target/springwebmvc/WEB-INF/lib/spring-expression-4.3.9.RELEASE.jar
target/springwebmvc/WEB-INF/lib/spring-web-4.3.9.RELEASE.jar
target/springwebmvc/WEB-INF/lib/spring-webmvc-4.3.9.RELEASE.jar
target/springwebmvc/WEB-INF/spring-servlet.xml
target/springwebmvc/WEB-INF/views/home.jsp
target/springwebmvc/WEB-INF/views/user.jsp
target/springwebmvc/WEB-INF/web.xml
